@using CandyShop.WebUI.Models
@using CandyShop.WebUI.HtmlHelpers
@model SweetListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model.Sweets)
{
    @Html.Partial("SweetSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", 
    new { page = x, category = Model.CurrentCategory, name = Model.Name }))
</div>

