@model IEnumerable<string>

<div class="label-primary">
    @using (Html.BeginForm("List", "Sweet", FormMethod.Get))
    {
        @Html.TextBox("name") <input type="submit"
                                     name="submit"
                                     value="Поиск" />
    }
</div>

@Html.ActionLink("Домой", "List", "Sweet", null,
    new { @class = "btn btn-block btn-default btn-lg" })

@foreach (var link in Model)
{
    @Html.RouteLink(link, new
    {
        controller = "Sweet",
        action = "List",
        category = link,
        page = 1
    }, new
    {
        @class = "btn btn-block btn-default btn-lg"
         + (link == ViewBag.SelectedCategory ? " btn-primary" : "")
    })
}
